*{
    box-sizing: border-box;
    margin:0;
}
body{
    margin: 0;
    max-height: 100vh;
    font-family: 'Popins', sans-serif;
}
.container{
    max-width: 1440px;
    background-color:  hsl(0, 0%, 98%);
    margin: auto;
    padding: 3rem 7.5rem;
}

.header_title{
     display: block;
    text-align: center;    
}
.title{
    font-size: 1.8rem;
    font-weight: 400;
    color: hsl(234, 12%, 34%);
}
.title_2{
    font-size: 1.8rem;
    font-weight: 600;
    color:hsl(234, 12%, 34%);
    padding: 0.5rem 0 1rem;

}
.text{
    color:hsl(229, 6%, 66%);
    padding:0 20.7rem;
    font-weight: 200;
    font-size: 0.98rem;
    line-height: 1.5rem;
    

}
.main_container_cards{
    
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 4rem 0;
    width: 100%;
    
}
.container_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.container_center{
    margin:0 1.8rem;
    
}

.container_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.card_1{
    border-top: 5px solid  hsl(180, 62%, 55%);
    background-color: white;
    border-radius: 5px;
    width: 24rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

   
}
.card_2{
    border-top: 5px solid hsl(0, 78%, 62%);
    background-color: white;
    border-radius: 5px;
    width: 24em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
.card_3{
    border-top: 5px solid  hsl(34, 97%, 64%);
    background-color: white;
    border-radius: 5px;
    width: 24rem;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    
}
.card_4{
    border-top: 5px solid  hsl(212, 86%, 64%);
    background-color: white;
    border-radius: 5px;
    width: 24rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.title_card{
    padding:2rem 2.5rem 1rem 1.9rem;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 22px;
}
.p_card{
    padding:0 2rem 1.9rem;
    color:hsl(229, 6%, 66%);
    line-height: 1.8rem;
}
.img{
    text-align: right;
    margin-top: 2rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem;
}
footer{
    text-align: center;
}
    
@media screen  and (max-width:960px){
    .container{
        padding:2.5rem ;
    }
    .title,
    .title_2{
        font-size: 1.5rem;   
    }
    .text{
        padding:0 1.7rem;
    }
    .main_container_cards{
    
        flex-direction: column;
        padding: 2rem 0;
        width: 100%;
    }
    .container_center{
        margin:0rem;
        
    }
    .card_1,
    .card_2,
    .card_3,
    .card_4{
    width: 100%;
    margin-top: 2rem;
}

}
    
